<div class="container">
  <div>
    <h2>To Buy List</h2>
    <ul cdkDropListGroup class="list">
      <div
        cdkDropList
        #toBuy="cdkDropList"
        [cdkDropListData]="toBuyList"
        [cdkDropListConnectedTo]="[previouslyBought]"
        (cdkDropListDropped)="drop($event)"
      >
        <li *ngIf="toBuyList.length === 0">
          <div class="listItem">
            <span class="name"></span>
          </div>
        </li>
        <li
          *ngFor="let item of toBuyList"
          cdkDrag
          [ngClass]="{ 'important-item': item.important }"
        >
          <div class="listItem">
            <span class="badge">{{ toBuyList.indexOf(item) }}</span>
            <span class="name">{{ item.itemName }}</span>
            <button (click)="deleteToBuyItem(item.id)">Delete</button>
            <button (click)="makeItemImportant(item)">Important</button>
          </div>
        </li>
      </div>
    </ul>
  </div>

  <div>
    <h2>Previously Bought List</h2>
    <ul cdkDropListGroup class="list">
      <div
        cdkDropList
        #previouslyBought="cdkDropList"
        [cdkDropListData]="previouslyBoughtList"
        [cdkDropListConnectedTo]="[toBuy]"
        (cdkDropListDropped)="drop($event)"
      >
        <li *ngIf="previouslyBoughtList.length === 0">
          <div class="listItem">
            <span class="name"></span>
          </div>
        </li>

        <li *ngFor="let item of previouslyBoughtList" cdkDrag>
          <div class="listItem">
            <span class="badge">{{ previouslyBoughtList.indexOf(item) }}</span>
            <span class="name">{{ item.itemName }}</span>
            <button (click)="deletePreviouslyBoughtItem(item.id)">
              Delete
            </button>
          </div>
        </li>
      </div>
    </ul>
  </div>
</div>
