<h2>To Buy List</h2>
<ul cdkDropListGroup>
  <div
    cdkDropList
    #toBuy="cdkDropList"
    [cdkDropListData]="toBuyList"
    [cdkDropListConnectedTo]="[previouslyBought]"
  >
    <li *ngFor="let item of toBuyList" cdkDrag>
      <div>
        <span>{{ toBuyList.indexOf(item) }}</span>
        <span>{{ item.itemName }}</span>
      </div>
    </li>
  </div>
</ul>

<h2>Previously Bought List</h2>
<ul cdkDropListGroup>
  <div
    cdkDropList
    #previouslyBought="cdkDropList"
    [cdkDropListData]="previouslyBoughtList"
    [cdkDropListConnectedTo]="[toBuy]"
  >
    <li *ngFor="let item of previouslyBoughtList" cdkDrag>
      <div>
        <span>{{ previouslyBoughtList.indexOf(item) }}</span>
        <span>{{ item.itemName }}</span>
      </div>
    </li>
  </div>
</ul>
