<h2>To Buy List</h2>
<ul cdkDropListGroup>
  <div
    cdkDropList
    #toBuy="cdkDropList"
    [cdkDropListData]="toBuyList"
    [cdkDropListConnectedTo]="[previouslyBought]"
    (cdkDropListDropped)="drop($event)"
  >
    <li *ngFor="let item of toBuyList" cdkDrag>
      <div [ngClass]="{ 'important-item': item.important }">
        <span>{{ toBuyList.indexOf(item) }}</span>
        <span>{{ item.itemName }}</span>
        <button (click)="deleteToBuyItem(item.id)">Delete</button>
        <button (click)="makeItemImportant(item)">Important</button>
      </div>
    </li>
  </div>
</ul>

<h2>Previously Bought List</h2>
<ul cdkDropListGroup>
  <div
    cdkDropList
    #previouslyBought="cdkDropList"
    [cdkDropListData]="previouslyBoughtList"
    [cdkDropListConnectedTo]="[toBuy]"
    (cdkDropListDropped)="drop($event)"
  >
    <li *ngFor="let item of previouslyBoughtList" cdkDrag>
      <div>
        <span>{{ previouslyBoughtList.indexOf(item) }}</span>
        <span>{{ item.itemName }}</span>
        <button (click)="deletePreviouslyBoughtItem(item.id)">Delete</button>
      </div>
    </li>
  </div>
</ul>
